.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #032974;
  width: 100%;
  min-width: 0;
  padding: 64px 64px 14px;
}
.freeBox__pkzo {
  display: flex;
  position: relative;
  max-width: var(--token-H7UDHu0vDm9u);
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__pkzo > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  align-content: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 52px);
  width: calc(100% + 52px);
}
.freeBox__pkzo > :global(.__wab_flex-container) > *,
.freeBox__pkzo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pkzo > :global(.__wab_flex-container) > picture > img,
.freeBox__pkzo
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 52px;
}
@media (max-width: 930px) {
  .freeBox__pkzo {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 930px) {
  .freeBox__pkzo > :global(.__wab_flex-container) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 930px) {
  .freeBox__pkzo > :global(.__wab_flex-container) > *,
  .freeBox__pkzo > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__pkzo > :global(.__wab_flex-container) > picture > img,
  .freeBox__pkzo
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__q4Hm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 387px;
  height: 296px;
  flex-shrink: 0;
  padding: 0px;
}
@media (max-width: 930px) {
  .freeBox__q4Hm {
    justify-content: center;
    align-items: center;
  }
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 229px;
  max-height: 35px;
}
.img > picture > img {
  object-fit: cover;
}
.text__yOfa2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  color: var(--token-hKgrEqHXQnJM);
  font-family: "Montserrat", sans-serif;
  padding-top: 21px;
  align-self: flex-start;
  text-align: left;
  font-size: 18px;
  min-width: 0;
}
@media (max-width: 930px) {
  .text__yOfa2 {
    text-align: center;
    width: 100%;
    max-width: 346px;
    align-self: center;
    min-width: 0;
  }
}
.freeBox__v4Fjn {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 32px 0px 0px;
}
@media (max-width: 930px) {
  .freeBox__v4Fjn {
    align-items: center;
    justify-content: center;
  }
}
.svg___4HvsM {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  width: auto;
  height: 1em;
}
.svg__qOu4S {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  height: 1em;
}
.svg__wPNxF {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  height: 1em;
}
.svg__ickUq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  height: 1em;
}
.freeBox__su6Km {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 110px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 930px) {
  .freeBox__su6Km {
    justify-content: center;
    align-items: center;
    align-self: center;
  }
}
.h4__btwQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 930px) {
  .h4__btwQ {
    text-align: center;
    margin-top: 53px;
  }
}
.button__qzgvq:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (max-width: 930px) {
  .button__qzgvq:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__c82F5 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__xPd {
  color: var(--token-hKgrEqHXQnJM);
}
.svg__g4UvP {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__a18Kl:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (max-width: 930px) {
  .button__a18Kl:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__kNtd {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__gQi92 {
  color: var(--token-hKgrEqHXQnJM);
}
.svg__tOsa {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__tsUV:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (max-width: 930px) {
  .button__tsUV:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__z3PqU {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__fxTlz {
  color: var(--token-hKgrEqHXQnJM);
}
.svg__gH4A {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__ami4F {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 166px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 930px) {
  .freeBox__ami4F {
    justify-content: center;
    align-items: center;
  }
}
.h4__dtdpK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 930px) {
  .h4__dtdpK {
    text-align: center;
    margin-top: 46px;
  }
}
.button__zkwGo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (max-width: 930px) {
  .button__zkwGo:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__miqWt {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__uzP8 {
  color: var(--token-hKgrEqHXQnJM);
}
@media (max-width: 930px) {
  .text__uzP8 {
    text-align: center;
  }
}
.svg__hC5Nf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__c1Dlb:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (max-width: 930px) {
  .button__c1Dlb:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__ojUxJ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___9Zk9P {
  color: var(--token-hKgrEqHXQnJM);
}
@media (max-width: 930px) {
  .text___9Zk9P {
    text-align: center;
  }
}
.svg___1J19I {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__d3GAq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 321px;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 930px) {
  .freeBox__d3GAq {
    justify-content: center;
    align-items: center;
  }
}
.h4__p3Poa {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  font-size: 24px;
  min-width: 0;
}
@media (max-width: 930px) {
  .h4__p3Poa {
    text-align: center;
    margin-top: 46px;
  }
}
.text__oa9Sn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 249px;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  text-align: left;
  margin-top: 32px;
  min-width: 0;
}
@media (max-width: 930px) {
  .text__oa9Sn {
    text-align: center;
    align-self: center;
  }
}
.textInput:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 24px;
  margin-bottom: 24px;
}
@media (max-width: 930px) {
  .textInput:global(.__wab_instance) {
    height: 50px;
    width: 284px;
    flex-shrink: 0;
  }
}
.svg__j0EJz {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__iAhV {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__x7L1:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (max-width: 930px) {
  .button__x7L1:global(.__wab_instance) {
    align-self: center;
    height: 50px;
    width: 284px;
    margin-bottom: 0px;
    flex-shrink: 0;
  }
}
.svg___5Ni3K {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
@media (max-width: 930px) {
  .text__i6Ufw {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
}
.svg__ywBn3 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #ffffff;
  margin-top: 1px;
  margin-left: 24px;
}
.freeBox__ylBKu {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 0px 20px;
}
@media (max-width: 930px) {
  .freeBox__ylBKu {
    align-self: center;
  }
}
.text___9KzJv {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding-top: 0px;
  color: var(--token-hKgrEqHXQnJM);
  margin-top: 100px;
}
